<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" />
  <title>Response</title>
</head>

<body>
  <h1>Response</h1>
  <pre>결과 코드: <%= code %></pre>
  <pre>결과 메시지: <%= message %></pre>
  <pre>일반 포인트: <%= rData.point %></pre>
  <pre>보너스 포인트: <%= rData.bonus %></pre>
</body>

</html>