<!DOCTYPE html>
<html lang="kr">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests" />
  <title>SMS</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />
  <link rel="stylesheet" href="/static/css/style.css" />

  <script type="text/javascript" src="/static/js/axios.min.js"></script>
  <script type="text/javascript" src="/static/js/common.js"></script>
  <!-- <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.css" /> -->

  <!-- <link rel="stylesheet" href="/static/style.css" /> -->

  <!-- ================== datepicker ==================-->
  <!-- <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> -->
  <!-- <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script> -->
  <!-- <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.1/js/tempusdominus-bootstrap-4.min.js"></script> -->

  <!-- TODO script 숨겨야됨 -- net::ERR_SSL_PROTOCOL_ERROR 해결-->

  <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.1/css/tempusdominus-bootstrap-4.min.css" /> -->
  <!-- ================================================-->
</head>

<body>
  <main class="wrapper">
    <div class="container">
      <div class="title">SMS 전송</div>
      <br />
      <form id="smsSend" class="main-form needs-validation" method="post" novalidate>
        <!-- ==================== Input Sender, Receiver v2 ====================  -->
        <div class="form-group senderReceiver">
          <div class="row">
            <div class="col">
              <label for="sendNum" class="datails">발신자 번호</label>
              <input type="text" name="sendNum" id="sendNum" class="form-control" pattern="[0-9]{3}[0-9]{4}[0-9]{4}" placeholder="'-'없이 입력해주세요" required />
              <div class="invalid-feedback">
                발신 번호를 입력해주세요<br />형식에 맞지 않는 번호입니다.
              </div>
            </div>
            <div class="col">
              <label for="receiveNum1" class="datails">수신자 번호</label>
              <input type="text" name="receiveNum1" id="receiveNum1" class="form-control" pattern="[0-9]{3}[0-9]{4}[0-9]{4}" placeholder="'-'없이 입력해주세요" list="contactInfo" required />
              <datalist id="contactInfo">
                <option value="0"></option>
                <option value="0"></option>
              </datalist>

              <div class="invalid-feedback">
                수신 번호를 입력해주세요<br />형식에 맞지 않는 번호입니다.
              </div>
            </div>
          </div>
        </div>
        <br />
        <!-- ==================================================================  -->

        <div class="inputDetails">
          <!-- ========================= check SMS type ============================= -->
          <!-- <div class="form-group ad">
            <label for="select_sms_type" class="name">문자 분류</label>
            <div class="form-check-inline">
              <input type="radio" class="form-check-input" id="notice" name="select_sms_type" value="notice" checked />
              단순 알림(공지)
            </div>
            <div class="form-check-inline">
              <input type="radio" class="form-check-input" id="ad" name="select_sms_type" value="ad" />
              광고
            </div>

            <div id="ifAd" style="display: none">
              <h4>
                <span class="badge badge-secondary form-group" style="width: 20%; height: 100%; float: left; margin-right: 3px; padding-top: 9px; padding-bottom: 9px;">(광고)</span>
              </h4>

              <div class="container" style="width: 75%; float: left; padding: 0px">
                <div class="form-group">
                  <input type="text" class="form-control" name="company_name" id="company_name" placeholder="회사명,브랜드명, 서비스명 등을 입력하세요" />
                  <div class="invalid-feedback">
                    회사명, 혹은 브랜드명을 입력해주세요.
                  </div>
                </div>
              </div>
              <div style="clear: both"></div>
            </div>
          </div> -->
          <!-- ================================================================  -->

          <!-- ==================== input message ==================== -->
          <div class="form-group message">
            <label for="messageContents">문자 내용</label>
            <textarea class="form-control" name="messageContents" id="messageContents" rows="7" maxlength="1000" placeholder="[주의] 문자내용을 붙여넣기 하는 경우 실제 발송된 문자에 물음표(?)가 추가될 수 있으니 반드시 확인하신 후 발송하시기 바랍니다." required></textarea>
            <div class="invalid-feedback">내용을 입력해주세요.</div>
          </div>
          <!-- ===================================================  -->

          <!-- ==================== set reject number ==================== -->
          <div class="form-group ad2" id="ifAd2" style="display: none">
            <h4>
              <span class="badge badge-secondary form-group" style="width: 25%; height: 100%; float: left; margin-right: 3px; padding-top: 9px; padding-bottom: 9px;">무료거부</span>
            </h4>

            <div style="width: 74%; float: left; padding: 0px">
              <input class="form-control" type="text" name="rejectNo" list="rejectNo" placeholder="선택, 혹은 직접 입력하세요" value="0808811254" />
              <datalist id="rejectNo">
                <option value="0808811254"></option>
              </datalist>

              <div class="invalid-feedback">
                무료거부 번호를 입력해주세요.
              </div>
            </div>
          </div>
          <div style="clear: both"></div>

          <!-- ========================= Input image ============================= -->
          <div class="form-group image" style="width: 100%">
            <label for="select_type" class="name">SMS 형태</label>
            <div class="form-check-inline">
              <input type="radio" class="form-check-input" id="text_type" name="select_type" value="text_type" onclick="imgCheck()" checked />
              텍스트형
            </div>
            <div class="form-check-inline">
              <input type="radio" class="form-check-input" id="img_type" name="select_type" value="img_type" onclick="imgCheck();" />
              이미지형
            </div>
            <div id="ifImg" style="display: none">
              <div class="form-group" style="width: 100%">
                <label for="img_attach">이미지 첨부</label>
                <input type="url" class="form-control" type="url" name="img_url" id="img_url" placeholder="이미지 url을 입력하세요" oninput="saveImageUrl()" />
              </div>
            </div>
          </div>
          <!-- ================================================================  -->

          <!-- ==================== Send button ====================  -->
          <div class="form-group send">
            <div class="button">
              <input type="submit" id="submit" value="전송" />
            </div>
          </div>

          <div class="form-group sendResult" id="sendResult"><label></label></div>
          <!-- =====================================================  -->
        </div>
      </form>

    </div>
  </main>

  <!-- <script src="/static/chingutalk.js"></> -->
  <!-- <script src="../controllers/c_sms.js"></script> -->
  <!-- <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script> -->
  <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script> -->
  <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script> -->
  <script>
    document.querySelector("form").addEventListener("submit", async (event) => {
      event.preventDefault();

      const submitBtn = document.querySelector("#submit");
      submitBtn.disabled = true;

      const data = {};
      for (const [k, v] of new FormData(event.target).entries()) {
        data[k] = v;
      }

      try {
        const results = await axios.post(event.target.action, data);
        console.log(results.data);
        if (results.data.code === "0") {
          document.querySelector("#sendResult label").textContent = "메시지 전송에 성공하였습니다.";
        } else {
          document.querySelector("#sendResult label").textContent = "메시지 전송에 실패하였습니다.";
        }
      } catch (error) {
        console.log(error);
      }

      submitBtn.disabled = false;
    });
  </script>
</body>

</html>